<app-buscador></app-buscador>
 <app-miga-de-pan [categorias]="this.categoria" [isArray]="this.isArray"></app-miga-de-pan>
<div *ngIf="this.producto" class="contenedor detalle">
 
  <div class="contiene-datos">
    <div class="destacado">
      <div class="contiene-imagen">
        <img src="{{this.producto.item.picture}}" alt="{{this.producto.item.title}}" title="{{this.producto.item.title}}">
      </div>

      <div class="info">
        <span>{{this.producto.item.condition}} - {{this.producto.item.sold_quantity}} vendidos </span>
        <h1>{{this.producto.item.title}}</h1>
        <form action="" [formGroup]="formComprar"  >
          
            <input currencyMask [options]="{  precision: '0' }" [formControl]="valor" type="text" disabled> 
          <button class="esperando" (click)="this.textoBoton='Que bueno que compres!'" [ngClass]="{ esperando: this.textoBoton=='Comprar', comprado: this.textoBoton !='Comprar'}">{{this.textoBoton}}</button>
        </form>
      </div>
    </div>

    <div class="descripcion">
      <h2>Descripción del producto</h2>
      <p>
        {{this.producto.item.description}}
      </p>
    </div>
  </div>

</div>

