<app-buscador></app-buscador>
<div *ngIf="this.producto" class="contenedor detalle">
  <app-miga-de-pan [categorias]="this.categoria"></app-miga-de-pan>
  <div class="contiene-datos">
    <div class="destacado">
      <div class="contiene-imagen">
        <img src="{{this.producto.item.picture}}" alt="">
      </div>

      <div class="info">
        <span>{{this.producto.item.condition}}</span>
        <h1>{{this.producto.item.title}}</h1>
        <form action="" [formGroup]="formComprar"  >
          
            <input currencyMask [options]="{  precision: '0' }" [formControl]="valor" type="text" disabled> 
          <button>Comprar</button>
        </form>
      </div>
    </div>

    <div class="descripcion">
      <h2>Descripcion de producto</h2>
      <p>
        {{this.producto.item.description}}
      </p>
    </div>
  </div>

</div>
