
/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: 'roboto';
  src: url('/assets/fuentes/roboto/Roboto-Regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fuentes/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fuentes/roboto/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fuentes/roboto/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fuentes/roboto/Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

 @font-face {
      font-family: "icons";
      src: url("/assets/fuentes/icons/icons.eot");
      /* IE9 Compat Modes */
      src: url("/assets/fuentes/icons/icons.eot?#iefix") format("embedded-opentype"),
          url("/assets/fuentes/icons/icons.woff") format("woff"),
          url("/assets/fuentes/icons/icons.ttf") format("truetype");
    }


* {
  box-sizing: border-box;
}



input, button {
  &:focus {
    outline-offset: 0px;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
}
a{
 text-decoration: none;
 color: #333;
}
li{
 list-style: none;
}
html,
body,
ul,
li {
  margin: 0;
  padding: 0;


}

body{
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 22px;
  font-family: 'roboto';
  background-color: #EEE;}
