<app-buscador></app-buscador>

<div *ngIf="this.mostar" class="resultados">
  <div *ngFor="let product of this.resultado[0].items" class="resultado-items">
    <a href="" routerLink="/items/{{this.product.id}}" class="item">
      <div class="contenedor-img">
        <img src="{{this.product.picture}}" alt="" >
      </div>
     
      <div class="informacion">
        <span class="precio" [ngClass]="{'free_shipping': this.product.freeShipping}">{{this.product.price.amount}}</span>
        <span class="titulo">{{this.product.title}}</span>
      </div>
      <div class="ciudad">
        ciudad
      </div>
    </a>
    <div class="separador"></div>
  </div>
</div>
