<app-buscador></app-buscador>

<div *ngIf="this.mostar" class="resultados contenedor">
  <app-miga-de-pan [categorias]="this.resultado.categories"></app-miga-de-pan>
  <div *ngFor="let product of this.resultado.items " class="resultado-items">
    <div class="item" >
      <a href="" routerLink="/items/{{this.product.id}}" class="contenedor-img">
        <img src="{{this.product.picture}}" alt="">
      </a>

      <div class="informacion">
        <span class="precio"
          [ngClass]="{'free_shipping': this.product.freeShipping}">{{this.product.price.amount | currency}}</span>
        <a href="" routerLink="/items/{{this.product.id}}"><span class="titulo">{{this.product.title}}</span></a>
      </div>
      <div class="ciudad">
        {{this.product.city}}
      </div>
    </div>
    <div class="separador"></div>
  </div>
</div>
